{% extends "account_keeping/base.html" %}
{% load account_keeping_tags humanize i18n libs_tags %}

{% block main %}
<div class="container">
    <h1>
        {{ view_name }}
        {% if last_month %}<a class="small" href="{% url "account_keeping_month" year=last_month.year month=last_month.month %}"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endif %}
        {% if next_month %}<a class="small" href="{% url "account_keeping_month" year=next_month.year month=next_month.month %}"><span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </h1>

    <ul class="nav nav-tabs">
        {% for value_dict in account_transactions %}
            <li><a href="#{{ value_dict.account.slug }}" data-toggle="tab">{{ value_dict.account.name }} ({{ value_dict.transactions.count }})</a></li>
        {% endfor %}
        <li class="active"><a href="#totals" data-toggle="tab">{% trans "Totals" %}</a></li>
        <li><a href="#outstanding" data-toggle="tab">{% trans "Outstanding" %} ({{ outstanding_invoices.count }})</a></li>
    </ul>

    <div class="tab-content">
        {% for value_dict in account_transactions %}
            <div class="tab-pane" id="{{ value_dict.account.slug }}">
                <h2>{{ value_dict.account.name }} ({{ value_dict.account.currency.iso_code }})</h2>
                <table class="table table-hover table-condensed small">
                    <thead>
                        <tr>
                            <th>{% trans "ID" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Invoice" %}</th>
                            <th>{% trans "Payee" %}</th>
                            <th>{% trans "Category" %}</th>
                            <th>{% trans "Amount (net)" %}</th>
                            <th>{% trans "VAT" %}</th>
                            <th>{% trans "Amount (gross)" %}</th>
                            <th>{% trans "Balance (gross)" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% save "BALANCE" value_dict.account_balance %}
                        {% for transaction in value_dict.transactions %}
                            {% sum "BALANCE" transaction.value_gross %}
                            <tr class="{% if transaction.transaction_type == transaction_types.withdrawal %}danger{% else %}success{% endif %}">
                                <td><a href="{% url "admin:account_keeping_transaction_change" transaction.pk %}">{{ transaction.pk }}</a></td>
                                <td>{{ transaction.transaction_date|date:"Y-m-d" }}</td>
                                <td>{{ transaction.description|default:"n/a" }}</td>
                                <td>
                                    {% if transaction.invoice %}
                                        <a href="{% url "admin:account_keeping_invoice_change" transaction.invoice.pk %}">{{ transaction.invoice.invoice_number|default:transaction.invoice.pk }}</a>
                                    {% elif transaction.invoice_number %}
                                        {{ transaction.invoice_number }}
                                    {% else %}
                                        {% trans "n/a" %}
                                    {% endif %}
                                </td>
                                <td><a href="{% url "admin:account_keeping_payee_change" transaction.payee.pk %}">{{ transaction.payee }}</a></td>
                                <td><a href="{% url "admin:account_keeping_category_change" transaction.category.pk %}">{{ transaction.category }}</a></td>
                                <td>{{ transaction.amount_net|currency }}</td>
                                <td>{{ transaction.vat }}</td>
                                <td>{{ transaction.amount_gross|currency }}</td>
                                <td>{{ BALANCE|currency }}</td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="10">{% trans "No transactions found for this month." %}</td></tr>
                        {% endfor %}
                        <tr>
                            <td colspan="9"><strong>{% trans "Current balance" %}</strong></td>
                            <td>{{ BALANCE }}</td>
                        </tr>
                        <tr>
                            <td colspan="6"><strong>{% trans "Expenses total" %}</strong></td>
                            <td><strong>{{ value_dict.expenses_net_total|currency }}</strong></td>
                            <td></td>
                            <td><strong>{{ value_dict.expenses_gross_total|currency }}</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6"><strong>{% trans "Income total" %}</strong></td>
                            <td><strong>{{ value_dict.income_net_total|currency }}</strong></td>
                            <td></td>
                            <td><strong>{{ value_dict.income_gross_total|currency }}</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6"><strong>{% trans "Balance total" %}</strong></td>
                            <td><strong>{{ value_dict.amount_net_total|currency }}</strong></td>
                            <td></td>
                            <td><strong>{{ value_dict.amount_gross_total|currency }}</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" href="{% url "admin:account_keeping_transaction_add" %}">{% trans "Add new transaction" %}</a>
            </div>
        {% endfor %}

        <div class="tab-pane active" id="totals">
            <h2>{% trans "Total" %} ({{ base_currency.iso_code }})</h2>

            <table class="table table-hover table-condensed small">
                <thead>
                    <tr>
                        <th>{% trans "Account" %}</th>
                        <th>{% trans "Expenses (net)" %}</th>
                        <th>{% trans "Expenses (gross)" %}</th>
                        <th>{% trans "Income (net)" %}</th>
                        <th>{% trans "Income (gross)" %}</th>
                        <th>{% trans "Profit (net)" %}</th>
                        <th>{% trans "Profit (gross)" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value_dict in account_transactions %}
                        <tr>
                            <td>{{ value_dict.account.name }}</td>
                            <td>{{ value_dict.expenses_net_sum_base|currency }}</td>
                            <td>{{ value_dict.expenses_gross_sum_base|currency }}</td>
                            <td>{{ value_dict.income_net_sum_base|currency }}</td>
                            <td>{{ value_dict.income_gross_sum_base|currency }}</td>
                            <td>{{ value_dict.amount_net_sum_base|currency }}</td>
                            <td>{{ value_dict.amount_gross_sum_base|currency }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>{% trans "Total" %}</strong></td>
                        <td><strong>{{ totals.expenses_net|currency }}</strong></td>
                        <td><strong>{{ totals.expenses_gross|currency }}</strong></td>
                        <td><strong>{{ totals.income_net|currency }}</strong></td>
                        <td><strong>{{ totals.income_gross|currency }}</strong></td>
                        <td><strong>{{ totals.amount_net|currency }}</strong></td>
                        <td><strong>{{ totals.amount_gross|currency }}</strong></td>
                    </tr>
                </tbody>
            </table>

            <h2>{% trans "Outstanding total" %} ({{ base_currency.iso_code }})</h2>

            <table class="table table-hover table-condensed small">
                <thead>
                    <tr>
                        <th>{% trans "Currency" %}</th>
                        <th>{% trans "Expenses (gross)" %}</th>
                        <th>{% trans "Income (gross)" %}</th>
                        <th>{% trans "Profit (gross)" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for currency, ccy_totals in outstanding_ccy_totals.items %}
                        <tr>
                            <th>{{ currency.iso_code }}</th>
                            <th>{{ ccy_totals.expenses_gross|currency }}</th>
                            <th>{{ ccy_totals.income_gross|currency }}</th>
                            <th>{{ ccy_totals.amount_gross|currency }}</th>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th><strong>{% trans "Total" %}</strong></th>
                        <th>{{ totals.outstanding_expenses_gross|currency }}</th>
                        <th>{{ totals.outstanding_income_gross|currency }}</th>
                        <th>{{ totals.outstanding_amount_gross|currency }}</th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="outstanding">
            <h2>{% trans "Outstanding invoices" %}</h2>
            {% include "account_keeping/partials/invoices_table.html" with invoices=outstanding_invoices %}
            <a class="btn btn-primary" href="{% url "admin:account_keeping_invoice_add" %}">{% trans "Add new invoice" %}</a>
        </div>
    </div>
</div>
{% endblock %}
